.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(18, 18, 20, 0.3);
  backdrop-filter: blur(3px);
  padding: 1rem 1.5rem;
  width: 100%;
  position: fixed;
  height: 100vh;
}

.modal {
  background-color: var(--gray-700);
  padding: 3rem 3rem 2.5rem;
  border-radius: 8px;
  font-size: 1.25rem;
  position: relative;
  text-align: center;
}

.modal h1 {
  color: var(--gray-200);
  font-size: 1.25rem;
}

.modalButtonsContainer {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.modalButtonsContainer button {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.1s;
  cursor: pointer;
}

.deleteBtn {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  transition: background-color 0.2s;
}

.deleteBtn:hover {
  background-color: var(--blue);
}

.cancelBtn {
  background-color: transparent;
  border: 1px solid var(--gray-300);
  color: var(--gray-300);
  transition: background-color 0.2s;
}

.cancelBtn:hover {
  color: var(--gray-100);
  background-color: var(--gray-300);
}

.closeModalButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  line-height: 0;
  color: var(--gray-400);
}

.closeModalButton:hover {
  color: var(--gray-300);
}
