.taskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-50%);
  margin-bottom: 4rem;
}

.taskForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.taskForm button:hover {
  background-color: var(--blue);
}

.taskForm input[type='text'] {
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  outline: none;
  transition: all 0.3s;
}

.taskForm input[type='text']:focus-within {
  color: var(--gray-100);
  border-color: var(--purple-dark);
}

.taskOverview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.taskOverview p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.taskOverview p > span {
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: 0.125rem 0.75rem;
  border-radius: 16px;
}

.createdTasksCounter {
  color: var(--blue);
}

.tasksDoneCounter {
  color: var(--purple);
}

.emptyTaskList {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyTaskList p {
  color: var(--gray-300);
  margin: 0;
}

.emptyTaskList p:nth-of-type(1) {
  font-weight: bold;
}

.emptyTaskList svg {
  color: var(--gray-400);
  margin-bottom: 1rem;
}
